body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

#div-of-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: auto;
}

.createAccFormInputs, select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.createAccFormInputs:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    background-color: #2a2f35;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #048a52;
}


#div-type-of-acc{
  display: flex;
}

#acc-label{
 color: rgb(36, 34, 34);   
 background: #ffffff;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}